@font-face {
    font-family: "bion-bold";
    src: url("../bion-bold.otf");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: 'Raleway';
}

:root {
    --size-h2: 2.25rem;
    --size-span: 1.25rem;
    --size-h3: 1.25rem;
    --bion: "bion-bold";
    --montserrat: "Montserrat";
    --bg-gray: #F1F0F0;
    --bg-dark: #D9D9D9;
    --min-width: 200px;
    --min-width-card: 310px;
}

h2 {
    font-size: var(--size-h2);
    font-family: var(--bion);
    text-transform: uppercase;
    span {
        font-size: var(--size-span);
    }
}

h3 {
    font-family: var(--montserrat);
    font-size: var(--size-h3);
}

section {
    margin-top: 86px;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}

.card {
    background-color: var(--bg-gray);
    border-radius: 20px;
    min-width: var(--min-width-card);
    width: 100%;
}

.necessity {
    display: flex;
    flex-direction: column;
    gap: 40px;
    &__text {
        width: 100%;
        max-width: 1050px;
    }
}

.grid-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 21px;
    width: 100%;
}

.wrapper-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__text {
        text-align: right;
    }
}

.btn {
    cursor: pointer;
    border: none;
    min-width: var(--min-width);
    font-family: var(--montserrat);
    margin: 0 auto;
    border-radius: 27px;
}

.btn:hover {
    box-shadow: 2px 4px 25.8px 0px rgba(4, 4, 4, 0.1);
}

.bid {
    background-color: var(--bg-dark);
    font-size: 1rem;
}

.bizness {
    max-width: 1380px;
    border-radius: 40px;
    p {
        font-size: 0.87rem;
    }
}

.wr-biz {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 2fr auto;
    row-gap: 10px;
    width: 100%;
    &__foto {
        grid-area: 1/1/4/3;
    }
    &__author {
        grid-area: 1/3/1/6;
        border-radius: 20px;
        padding: 13px 15px;
        background-color: var(--bg-gray);
        height: 80px;
        h4 {
            font-family: var(--montserrat);
            font-weight: bold;
            text-align: center;
        }
        p {
            text-align: right;
        }
    }
    &__title {
        grid-area: 1/7/1/13;
    }
    &__bid {
        grid-area: 2/4/2/12;
    }
    &__picture {
        grid-area: 3/4/4/6;
    }
    &__list {
        grid-area: 3/7/4/12;
    }
    &__text {
        grid-area: 4/7/4/11;
        span {
            color: #8d8d8d;
        }
    }
}

.card_hover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    .card__text {
        display: none;
    }
}

.card_hover:hover {
    justify-content: center;
    background-color: var(--bg-dark);
    .card__picture {
        width: 50%;
        height: 50%;
    }
    .card__text {
        display: block;
    }
}

.list {
    list-style-type: none;
    /*list-style-image: url('/img/squ.svg');*/
    &__item {
        display: flex;
        flex-direction: row;
        font-family: var(--montserrat);
        font-weight: bold;
        svg {
            margin-right: 8px;
        }
    }
    &__item:not(:last-child) {
        margin-bottom: 12px;
    }
}